/* font family Raleway */

@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font family Barlow */

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --loading-text-gradient: linear-gradient(
    90deg,
    transparent 0% 16.66%,
    hsla(0, 3%, 7%, 1) 33.33% 50%,
    transparent 66.66% 75%
  );
}

/* ============= 01. Reset section ============= */

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select::-ms-expand {
  display: none;
}

label {
  font-weight: normal;
}

iframe {
  width: 100%;
}

/* ===== 02. Global Style ===== */
body {
  overflow-x: hidden;
}

h1 {
  font-size: 75px;
  font-weight: 800;
  line-height: 85px;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 45px;
  font-weight: 800;
  line-height: 51px;
  font-family: "Raleway", sans-serif;
}

h3 {
  font-size: 25px;
  font-weight: 800;
  line-height: 31px;
  font-family: "Raleway", sans-serif;
}

h4 {
  font-size: 22px;
  font-weight: 800;
  line-height: 28px;
  font-family: "Raleway", sans-serif;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  font-family: "Raleway", sans-serif;
}

h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Barlow", sans-serif;
}

button {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 16px 38px 16px 38px;
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
}

a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #c9c3c3;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* --------------------------------------------------Preload------------------------------------------ */

.preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #481138;
  z-index: 10;
  display: grid;
  place-content: center;
  justify-items: center;
  transition: 250ms ease;
}

.preload > * {
  transition: 250ms ease;
}

.preload.loaded > * {
  opacity: 0;
}

.preload.loaded {
  transition-delay: 250ms;
  transform: translateY(100%);
}

.circle {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 3px solid white;
  border-block-start-color: hsla(0, 3%, 7%, 1);
  margin-block-end: 45px;
  animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.preload .text {
  background-image: var(--loading-text-gradient);
  background-size: 500%;
  font-size: calc(2rem + 3vw);
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-inline-start: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px hsla(40, 12%, 5%, 1);
  animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

/* ------------------------------------Header-------------------------------- */

.header-index {
  background-image: url("../Images/bg/hero_bg.png");
  background-position: center center;
  background-size: cover;
}

header {
  padding: 20px 0;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 15px;
  color: #d3c9c1;
}
.logo {
  width: 34%;
  border-radius: 50%;
  margin-bottom: -47px;
  margin-top: -23px;
}

.container-nav {
  gap: 70px;
}
.navbar-logo {
  margin-right: 25px;
}
.navbar-toggler {
  border: 1px solid #7436bb;
  background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}
.navbar-toggler:hover {
  background: inherit;
}
.navbar-toggler span {
  color: #fff;
  font-size: 22px;
}

.navbar-nav {
  gap: 50px;
}
.nav-link {
  font-weight: 400;
  color: #d3c9c1;
}
nav li a.active,
.nav-link:is(:hover, :focus-visible) {
  color: #f57c48;
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  padding: 30px;
  z-index: 9;
  display: none;
}
.dropdown-toggle::after {
  content: "+";
  vertical-align: center;
  margin-left: 5px;
}
.dropdown:hover .dropdown-menu {
  display: block;
  width: 220px;
  padding: 15px 0 15px 0;
  border-radius: 10px;
  background-color: #3d0541;
  margin-left: -52px;
}
.dropdown-menu li {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-right {
  transform: translate(68rem, -28px);
  color: white;
}
.nav-right p {
  color: #d3c9c1;
}
.nav-right span {
  color: #f57c48;
}
.nav-right .fa-bars {
  color: #fff;
  font-size: 22px;
  padding: 0 44px;
  cursor: pointer;
}
.nav-right .fa-bars:active {
  transform: scale(0.9);
}

@media screen and (max-width: 880px) {
  .navbar-toggler {
    display: block !important;
  }
  .navbar-nav,
  .nav-right {
    display: none !important;
  }

  .container-nav {
    width: 100%;
    justify-content: space-between !important;
  }
  .logo {
    margin-bottom: -33px;
  }
}

/* -------------------------------sidebar---------------------------- */

.sidepanel {
  background-color: #3d0541;
  z-index: 1;
  position: fixed;
  width: 320px;
  height: 100vh;
  top: 0;
  left: -320px;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 40px 20px 20px 20px;
}
.sidebar {
  justify-content: space-between;
}
.logo-sidebar {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 22px;
  margin-top: 6px;
}
.sidebar button {
  width: 44px;
  height: 44px;
  background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
  padding: 10px 12px 10px 12px;
  margin-bottom: -15px;
  border-radius: 0.25em;
  border: 1.5px solid #b520a3;
  color: #fff;
  cursor: pointer;
}
.sidebar button:hover {
  background: inherit;
}
.sidebar a {
  padding: 10px 0;
}

aside ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
aside ul li {
  margin: 15px 0;
}
aside li a {
  color: #d3c9c1;
  transition: 500ms;
  padding: 10px 0;
}
aside ul li a.active {
  color: #f57c48;
}

aside .pages {
  font-weight: 500;
  color: #d3c9c1;
  margin: 11px 0 7px 0;
}
.collapse-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.collapse-btn i {
  border: 1px solid #d3c9c1;
  border-radius: 40px;
  padding: 7px 8px;
}
.collapse-btn i:hover {
  border: 1px solid #f57c48;
}
.plus_collapse {
  margin: -52px 0 0 0;
  height: 45px;
}
#pages {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.show {
  height: 500px !important;
  transform: height 0.34s ease;
}

/* ---------------------------------Right sidebar------------------- */

.header-right-bar {
  width: 355px;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  right: -355px;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 25px 20px 30px;
  z-index: 2;
  background: #d3c9c1;
}
.close_rightsidebar {
  width: 44px;
  height: 44px;
  background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
  padding: 10px 12px 10px 12px;
  margin-bottom: -15px;
  border-radius: 0.25em;
  border: 1.5px solid #b520a3;
  color: #fff;
  cursor: pointer;
}
.right-side-text {
  margin-top: 50px;
}
.header-right-bar .btn-hover1 {
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 93px;
}
.right-side-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
.right-side-links {
  color: #2a2827;
}
.right-side-links:hover {
  color: #f57c48;
}
.right-side-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.right-sub-container {
  margin-bottom: 13px;
}
.right-container-links {
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}
.fa-brands {
  font-size: 22px;
}

/* ----------------------------------------------------Hero Section----------------------------------- */
.hero {
  background-image: url("../Images/bg/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 172px 0 279px 0;
}
.hero .container {
  position: relative;
}
.hero h1 {
  color: #fff;
  letter-spacing: 3.75px;
}
.hero-social-icon {
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column !important;
  justify-content: flex-start !important;
}
.hero-social-icon a {
  padding: 16px 38px 16px;
}
.hero-social-icon a i {
  font-size: 26px;
  background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-social-icon a i:hover {
  background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-social-icon hr {
  display: block;
  margin-top: 68px;
  opacity: 1;
  color: #fff;
  width: 110px;
  rotate: 90deg;
}
.center-data h3 {
  color: #fff;
}
.center-btn {
  gap: 15px;
}
.center-btn a {
  padding: 16px 38px 16px 38px;
}

/* <!------------------------------------------------ Hero section ------------------------------------------> */

.feature {
  background-color: #150725;
  margin-bottom: -1px;
  position: relative;
}
.feature .flex {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
}
.header-card {
  display: flex;
  margin-top: -145px;
  flex: 0 0 auto;
  width: 25%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.header-card div {
  border-radius: 20px;
  background: linear-gradient(0deg, #471133 0%, #140921 100%);
  color: #fff;
  padding: 40px 30px;
  transition: all 0.4s ease;
}
.header-card div:hover {
  transform: scale(1.05);
  transition: all 0.4s ease;
}
.header-card .figure-img1 {
  width: 53px;
}
.header-card img {
  width: 60px;
}
.header-card h4 {
  width: 146px;
  letter-spacing: 1.1px;
  margin: 20px 0 12px 0;
}

/* <!------------------------------------------------ About section ------------------------------------------> */

.about {
  background: #3d0541;
  padding: 100px 0;
}
.about-data {
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-1 * var(--bs-gutter-x));
  margin-left: calc(-1 * var(--bs-gutter-x));
}
.about hr {
  opacity: 1.25;
  height: 1px;
  color: #b520a3;
  width: 60px;
  border: 1px solid;
}
.about-data h2 {
  margin: 20px 0;
  color: #fff;
}
.about h5 {
  color: #fff;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
}
.about p {
  color: #fff;
  margin-bottom: 23px;
}
.about i {
  border: 2px solid #fa982f;
  border-radius: 50%;
  padding: 3px;
  font-size: 20px;
  background: linear-gradient(66deg, #f54a48 0.87%, #fa982f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .center-btn {
  margin-top: 24px !important;
}
.about-tick {
  margin: 15px 0;
}

.about-imgs {
  background-image: url("../Images/bg/about-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.about-imgs figure {
  background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
  width: fit-content;
  clip-path: circle(45% at 50% 50%);
  transition: all 0.8s ease;
}
.about-imgs figure:hover {
  transform: scale(1.05);
  transition: all 0.8s ease;
}
.about-imgs img {
  width: 85%;
  display: block;
  margin: auto;
  clip-path: circle(48% at 50% 50%);
}

.ab-count {
  flex-direction: column;
  text-align: center;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  color: #fff;
  position: absolute;
  left: 55rem;
  bottom: -61rem;
  border-radius: 50%;
  width: 175px;
  height: 175px;
}

.ab-count h2 {
  margin: 0;
}
.about-hr {
  color: #fff;
  position: absolute;
  right: 35px;
  bottom: -55rem;
  rotate: -90deg;
}
.about-hr hr {
  opacity: 1.25;
  height: 1px;
  border: 1px solid #b520a3;
  width: 60px;
}
.ab-count p {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}
.about-hr h6 {
  letter-spacing: 3.72px;
  text-transform: uppercase;
}

/* <!------------------------------------------------ Portfolio section ------------------------------------------> */

.portfolio {
  background-color: #150725;
  padding: 120px 0 120px 0;
  margin-top: -1px;
}
.porto-center {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.porto-center .w-50 {
  width: 66%;
}
.porto-center h5 {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.porto-center h2 {
  color: #fff;
}
.porto-center p {
  color: #d3c9c1;
  padding-right: 145px;
  margin-top: 1rem;
}
.portfolio-1 .gallery-hr1 {
  opacity: 1.25;
  height: 1px;
  color: #b520a3;
  width: 60px;
  border: 1px solid;
}
.porto-center hr {
  width: 100%;
  opacity: 1.25;
  height: 1px;
  color: #461f72;
  border: 1px solid;
}
.portfolio-1 .btn-hover2 {
  padding: 15px 30px;
  border: 1px solid #ff7527;
}
.porto-center .w-100 {
  width: 33%;
}

/* ---------Gallery--------- */
.gallery {
  background-image: url("../Images/bg/gallary-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 120px;
  z-index: 1;
  position: relative;
}
.gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 20px 0;
  padding: 0 20px;
  transition: all 0.5s ease;
}
.gallery img:hover {
  transform: scale(1.05);
}
.gallery img[alt="sm-img"] {
  height: 200px;
}
.ga-bg {
  background-color: #150725;
  height: 300px;
}
.gallery span {
  background-color: #150725;
  opacity: 0.8;
  width: 100% !important;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.gallery .container {
  margin-top: -324px;
  z-index: 1;
  position: relative;
}
.tab {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.tab button {
  float: left;
  border: none;
  outline: none;
  transition: 0.3s;
  background-color: inherit;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.tab button.active {
  background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
}
.tabcontent {
  display: none;
  padding: 6px 12px;
}
.tabcontent .w-100 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gallery-hr h6 {
  letter-spacing: 3.72px;
  color: #fff;
  margin-top: 20px;
}
.gallery-hr hr {
  height: 2px;
  width: 60px;
  color: #fff;
  opacity: 1;
  margin-top: 20px;
}

.copywritting {
  height: 975px;
  width: 85%;
}

/* <!------------------------------------------------ Services section ------------------------------------------> */

.service-1 {
  background-color: #3d0f41;
  padding: 120px 0;
}
.service-data {
  display: flex;
  flex-wrap: wrap;
}
.service-1 h5 {
  color: #fff;
  letter-spacing: 1px;
}
.service-1 h2 {
  color: #fff;
}
.service-1 p {
  color: #d3c9c1;
  position: relative;
  margin-bottom: 25px;
  /* padding: 0 221px 0 0; */
}
.service-1 hr {
  width: 100%;
  height: 1px;
  opacity: 1.25;
  color: #461f72;
  border: 1px solid;
}
.service-1 .service-hr1 {
  opacity: 1.25;
  height: 1px;
  color: #b520a3;
  width: 60px;
  border: 1px solid;
}

.service-card {
  border: 1px solid #b520a3;
  background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
  box-shadow: 8px 18px 30px rgba(0, 0, 0, 0.2);
  padding: 40px 40px 40px 30px;
  width: 36%;
  margin-top: 30px;
}
.service-card:hover {
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
}
.service-card li {
  color: #d3c9c1;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
.service-card h3 {
  color: #fff;
  letter-spacing: 1.25px;
  margin: 20px 0;
}
.service-card img {
  object-fit: cover;
  margin: 0 3px;
  align-items: center;
}
.premium {
  color: #2c003e !important;
  font-weight: 800;
}
.platinum {
  color: #ffb73a !important;
  font-weight: 800;
}
.service-card figure {
  background-color: #fff;
  box-shadow: 10px 17px 28px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 12px;
  width: 124px;
  height: 85px;
  display: flex;
}
.service-card img[alt="slider1"] {
  width: 105px;
}
.service-card img[alt="slider2"] {
  width: 80px;
}
.service-card img[alt="slider3"] {
  width: 60px;
}

.imp-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.imp-line span {
  color: #f54a48;
  font-size: 30px;
}
.imp-line h5 {
  margin-bottom: 20px;
}
.services-btn-impLine .btn-hover2 {
  padding: 20px 30px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
  margin: 0 30px;
}
.services-btn-impLine i {
  font-size: 50px;
  margin: 20px 20px;
  background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}

.imp-line a {
  font-weight: bold;
  font-size: 25px;
  color: #ff0149;
  padding: 0 10px;
}

/* <!------------------------------------------------ Work section ------------------------------------------> */

.work {
  background-image: url("../Images/bg/work-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0;
  margin-top: -2px;
}
.work h5 {
  letter-spacing: 1px;
}
.work-para {
  color: #fff;
}
.work-line {
  background-image: url("../Images/bg/work-line.png");
  background-size: 100% 100%;
  background-position: center;
  min-height: 242px;
  background-repeat: no-repeat;
  margin: 146px 25px 146px 25px;
}
.work-line div {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
  color: #fff;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 18px 0 32px 34px;
}

.work-line div:first-child {
  top: -66px;
  left: -30px;
  width: 196px;
  min-height: 196px;
}
.work-line div:nth-child(2) {
  bottom: -70px;
  left: 260px;
  width: 180px;
  min-height: 180px;
}
.work-line div:nth-child(3) {
  right: 260px;
  top: -66px;
  width: 196px;
  min-height: 196px;
}
.work-line div:last-child {
  right: -49px;
  bottom: -70px;
  width: 180px;
  min-height: 180px;
}

.work a {
  border: 1.5px solid #ff7527;
  padding: 15px 30px;
}

.work-hr {
  color: #fff;
  position: absolute;
  right: 0;
  rotate: -90deg;
}
.work-hr h6 {
  letter-spacing: 3.72px;
  text-transform: uppercase;
}
.work-hr hr {
  color: #fff;
  opacity: 1.25;
  height: 1px;
  width: 60px;
  border: 1px solid;
}

/* <!------------------------------------------------ Team section ------------------------------------------> */

.team {
  background-image: url("../Images/bg/experience_bg.jpg");
  background-size: cover;
  background-position: center center;
  padding: 120px 0 0 0;
}
.team h5 {
  color: #fff;
  letter-spacing: 1px;
}
.team h2 {
  color: #fff;
  padding: 0 212px 0 0;
}
.team p {
  color: #d3c9c1;
  padding: 0 184px 0 0;
}
.team .team-hr1 {
  color: #b520a3;
  opacity: 1.25;
  height: 1px;
  width: 60px;
  border: 1px solid;
}
.team a {
  padding: 15px 30px;
  border: 1.5px solid #ff8c4b;
}
.team-slider {
  overflow: hidden;
  display: flex;
}
.team-img {
  min-width: 304px;
  object-fit: cover;
  position: relative;
  background-repeat: no-repeat;
}
.team-img img {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.team-des-container {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  transform: translateX(-1rem);
  margin-bottom: 20px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #7436bb66 28%, #b520a378 68%);
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: 0.5s ease;
}
.team-img:hover .overlay {
  height: 100%;
}
.overlay-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.overlay-text h4 {
  margin: 6px 0 15px 0;
}
.overlay-text i {
  color: #fff;
  font-size: 20px;
}
.overlay-text a {
  border: 1px solid #fff;
  border-radius: 50%;
}
.overlay-text a:hover {
  background-color: #fff;
}
.overlay-text a:hover i {
  color: #150725;
}
.overlay-text .flex a:first-child {
  padding: 8px 13px !important;
}

.team-btn {
  background: linear-gradient(0deg, #471133 0%, #140921 100%);
  color: #fff;
  padding: 40px 20px;
  margin-top: 50px;
  text-transform: uppercase;
}

/* <!------------------------------------------------ Footer ------------------------------------------> */

footer {
  background: #150725;
  padding: 120px 0 0 0;
}
.footer-hr .flex {
  rotate: -90deg;
}
.footer-hr h6 {
  color: #fff;
  letter-spacing: 3.72px;
  text-transform: uppercase;
}
.footer-hr h3 {
  margin-top: 125px;
  color: #fff;
  letter-spacing: 1px;
}
.footer-hr p {
  color: #fff;
  padding: 0 300px;
  margin: 20px 0 30px 0;
}
.footer-hr hr {
  opacity: 1.25;
  height: 1px;
  color: #fff;
  width: 60px;
  border: 1px solid;
}
footer form {
  border-radius: 50px;
  border: 1px solid #6d2f8a;
  background: #381a46;
  width: 76%;
  margin: auto;
}
footer form input {
  background-color: #381a46;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #fff;
  width: 68%;
}
footer form button {
  transition: all 0.3s ease;
  text-transform: uppercase;
}
footer form button:hover {
  color: #7436bb;
}
#footer-message {
  width: auto;
  height: auto;
  color: green;
  /* background-color: #fff; */
  display: flex;
  align-items: flex-start;
  padding: 10px;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  font-family: "Raleway", sans-serif;
  /* position: fixed; */
  top: 20px;
  right: 20px;
  z-index: 10;
  border-radius: 10px;
  transition: display all 0.3s ease;
}
.footer-menu {
  background: linear-gradient(0deg, #471133 0%, #140921 100%);
  color: #fff;
  padding: 50px 0;
  margin-top: 77px;
}
.footer-menu img {
  width: 100px !important;
  filter: brightness(0), invert(1);
  margin-bottom: 5px;
}

.footer-menu ul li {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
}
.footer-menu ul li a:hover {
  color: #f54a48;
}
.footer-menu i {
  font-size: 20px;
  background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}
.footer-menu h4 {
  color: #f57c48;
  margin-bottom: 26px;
}
.footer-menu a {
  padding: 0 !important;
  color: #fff;
}

.footer-menu p {
  padding: 0 78px 0 0;
}

.copywrite {
  background: #150725;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateX(30rem);
}

.links-footer {
  margin: 0 150px;
  transform: translateX(-10rem);
}
.details-footer {
  transform: translateX(-10rem);
}
.details-footer ul li {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
}
.socials-footer i {
  font-size: 30px;
  padding: 20px 20px;
}
.socials-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(8rem);
}

/* <!--------------------- Back to top btn ---------------> */

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  padding: 17px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #d12bec;
  z-index: 99999999999999999;
  display: none;
}
#backToTop:hover {
  color: #fff;
}

#instagrmBar {
  position: fixed;
  bottom: 89px;
  right: 27px;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 99999999999999999;
  /* display: none; */
}
#instagrmBar i {
  font-size: 40px;
  color: black;
}

/* <!--------------------- ScrollBar ---------------> */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
  border-radius: 5px;
}

/* Add to cart button styles */
.add-to-cart-btn {
  background-color: #4caf50; /* Green button */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content input {
  width: 50%;
  font-family: "barlow", sans-serif;
  font-size: 20px;
  background: #f0d7d7;
  border: none;
  outline: none;
  padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
  font-weight: 600;
  border-radius: 20px;
  color: #3d0f41;
  border: 2px solid transparent;
  box-shadow: 0 0 0 0px var(--input-shadow);
  transition: 0.3s;
  margin: 15px;
}
.modal-content .btn-hover2,
.modal-content .btn-hover1 {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 75px;
  margin: 10px;
}

/* Close button style */
.close-btn {
  position: absolute;
  top: -2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-size: 55px;
  transition: color 0.5s ease;
}
.close-btn:hover {
  color: red;
}

/* Cart container styles */
/* Cart container styles */
.cart-container {
  display: none;
  margin-top: 20px;
  background-color: #3d0f41; /* Set background color for cart container */
  padding: 20px;
}

.cart-container h2 {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cart items container styles */
#cartItemsContainer {
  padding: 10px 0;
}

/* Cart item styles */
.cart-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #fff;
  font-family: "barlow", sans-serif;
  font-size: 20px;
}

.cart-container ul {
  list-style: none;
  padding: 0;
}

.cart-container li {
  margin-bottom: 0.5rem;
}

.cart-container button {
  background-color: #ff5722; /* Orange button for place order */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cart-container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-container button:hover {
  background-color: #f44336; /* Darker orange on hover */
}

/* View cart button styles */
#viewCartBtn {
  background-color: #2196f3; /* Blue button */
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 13px 17px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.view-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#viewCartBtn:hover {
  background-color: #0b7dda; /* Darker blue on hover */
}

/* <!------------------------------------------------ Breakpoints ------------------------------------------> */
@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  .team-img {
    min-width: 277px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .team-img {
    min-width: 232px;
  }
}

@media screen and (max-width: 960px) {
  html,
  body {
    overflow-x: hidden;
  }
  .container {
    max-width: 925px;
  }
  .nav-right {
    transform: translate(38rem, -2rem);
  }
  .navbar-nav {
    transform: translateX(-12rem);
  }
  .feature .flex {
    flex-wrap: wrap;
  }
  .header-card {
    width: 50%;
  }
  .header-card h4 {
    font-size: 20px !important;
    display: flex;
    text-align: center !important;
    margin-bottom: 50px !important;
  }
  /* #instagrmBar {
    transform: translateX(-8rem);
  }
  #backToTop {
    transform: translateX(-8rem);
  } */
  .ab-count {
    transform: translate(-23rem, 39rem);
  }
  .hero h1 {
    font-size: 67px;
  }
  .header-card {
    margin-bottom: 153px;
  }
  .header-card figure,
  .header-card h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .about-hr {
    margin: -100px 0;
  }
  .work-hr {
    margin: -49px -91px;
  }
  .team-btn .container {
    align-items: center;
    justify-content: center;
  }
  .links-footer,
  .details-footer {
    transform: translateX(10px);
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 757px;
  }
  .hero-social-icon {
    position: relative;
    flex-direction: row !important;
    justify-content: center !important;
  }
  .hero-social-icon hr {
    display: none;
  }
  .team-img {
    min-width: 232px;
    object-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  /* global styles */
  h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 66px;
  }
  h2 {
    font-size: 34px;
    font-weight: 800;
    line-height: 48px;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }
  h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  button {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 14px 30px 14px 30px;
  }
  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 14px 30px 14px 30px !important;
  }
  .container {
    max-width: 757px;
  }

  /* ----------Index.htm----------- */
  .hero {
    padding: 110px 0 279px 0;
  }
  .about {
    padding: 70px 0;
  }
  .ab-count {
    width: 155px;
    height: 155px;
  }
  .ab-count h5 {
    width: 110px;
  }
  .about-hr {
    margin-bottom: -40px;
  }
  .portfolio-1 {
    padding: 70px 0 70px 0;
  }
  .gallery {
    padding-bottom: 70px;
  }
  .tab button {
    padding: 11px 19px;
  }
  .gallery img {
    height: 300px;
  }
  .gallery img[alt="sm-img"] {
    height: 150px;
  }
  .gallery .container {
    margin-top: -355px;
  }
  .gallery .mt {
    margin-top: -258px;
  }
  .service-1 {
    padding: 70px 0;
  }
  .service-1 .flex-column {
    flex-wrap: wrap;
  }
  .service-card {
    width: 48%;
  }
  .service-1 .s-card {
    flex-wrap: wrap;
  }
  .service-card img[alt="slider1"] {
    width: 85px;
  }
  .service-card img[alt="slider2"] {
    width: 62px;
  }
  .service-card img[alt="slider3"] {
    width: 52px;
  }
  .work-line div {
    padding: 33px 8px 32px 29px;
  }
  .work {
    padding: 70px 0;
  }
  .work-para {
    padding: 0 95px;
  }
  .work-line div:first-child {
    width: 185px;
    min-height: 185px;
  }
  .work-line div:nth-child(2) {
    width: 170px;
    min-height: 170px;
    left: 118px;
  }
  .work-line div:nth-child(3) {
    width: 185px;
    min-height: 185px;
    right: 106px;
  }
  .work-line div:last-child {
    width: 170px;
    min-height: 170px;
  }
  .team {
    padding: 70px 0 0 0;
  }
  #team {
    padding: 70px 0 70px 0;
  }
  .overlay-text i {
    font-size: 18px;
  }
  .team-btn {
    margin-top: 70px;
  }
  .team h2 {
    padding: 0 16px;
  }
  .team p {
    padding: 0 16px;
  }
  .footer-hr p {
    padding: 0 30px;
  }
  .hero h1 {
    font-size: 65px;
    width: 100%;
  }
  #instagrmBar {
    padding: 0 10px !important;
    font-size: 50px !important;
  }
  .sidepanel {
    z-index: 2;
  }
}

@media screen and (max-width: 630px) {
  .header-card {
    width: 100%;
    margin: 0;
  }
  .gallery .w-33,
  .gallery .w-66 {
    width: 100%;
  }
  .porto-center {
    width: 100% !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .porto-center .gap-1,
  .service-data .gap-1 {
    justify-content: center !important;
    flex-wrap: wrap !important;
  }
  .porto-center .w-50,
  .porto-center .w-100,
  .service-data .w-66,
  .service-data .w-33 {
    width: 100% !important;
    max-width: 100% !important;
    text-align: center !important;
    justify-content: center !important;
  }
  .team-center {
    flex-wrap: wrap;
  }
  .porto-center .w-100 {
    margin-top: 1rem;
  }
  .portfolio-1 p {
    padding: 0;
  }
  .service-card {
    width: 100%;
  }
  .work-para {
    padding: 0 10px;
  }
  .work-line {
    background-image: none;
    padding: 0 8px;
  }
  .work-line div {
    position: relative;
    /* padding: 0 10px !important; */
    text-align: center;
  }
  .work-line h4 {
    padding: 0 17px;
  }
  .work-line div:first-child {
    top: 20px;
    left: 0;
  }
  .work-line div:nth-child(2) {
    top: 20px;
    left: 20px;
  }
  .work-line div:nth-child(3) {
    left: 0;
    top: 20px;
  }
  .work-line div:last-child {
    top: 20px;
    left: 0;
  }
  .work-line {
    margin: 25px 25px 53px 25px;
  }
  .work-line div {
    width: 170px !important;
    min-height: 170px !important;
  }
  .footer-menu .flex-start {
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center !important;
  }
  .footer-center .w-33,
  .footer-center .w-16,
  .footer-center .w-16,
  .footer-center .w-33 {
    width: 100% !important;
    max-width: 100% !important;
  }
  .footer-menu p {
    text-align: center;
    padding: 0;
  }
  .footer-menu a {
    text-align: center;
  }
  .footer-menu h4 {
    text-align: center;
  }
  .team-img {
    width: 100px;
  }
  .service-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100% !important;
  }
  .work-hr {
    transform: translate(96px, 10px);
  }
  .gallery img {
    height: 100% !important;
  }
  .about-hr {
    transform: translate(-517px, 77px);
  }
  .ab-count {
    display: none !important;
  }
  .about-data h2 {
    width: 196% !important;
  }
  .about-imgs img {
    width: 100%;
  }
  .about .center-btn {
    width: 120% !important;
  }
  .hero h1 {
    font-size: 52px;
  }
  .team p,
  .team h2 {
    width: 90% !important;
    transform: translateX(-100px) !important;
  }
  #instagrmBar a {
    padding: 0 1px !important;
  }
  .socials-footer {
    transform: translateX(10px);
  }
  .copywrite {
    transform: translateX(206px);
  }
}

@media screen and (max-width: 500px) {
  /* global style */

  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  button {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px 12px 26px;
  }
  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px 12px 26px !important;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 44px 0 82px 0;
  }

  /* global style */
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  button {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px 12px 26px;
  }
  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 26px 12px 26px !important;
  }
  .hero h1 {
    font-size: 28px;
    width: 102%;
    display: inline-block;
    white-space: nowrap;
  }
  header .logo {
    width: 75%;
  }
  .about-hr {
    transform: translate(-600px, 102px);
  }
  .about-imgs div {
    display: none;
  }
  .about p {
    width: 200%;
  }
  .about h5 {
    white-space: nowrap;
  }
  .about .center-btn {
    width: 183% !important;
  }
  .tab button {
    margin: 10px 2px;
  }
  .gallery img {
    height: 183px !important;
    transform: translateX(-44px);
    width: 111% !important;
  }
  .imp-line span {
    font-size: 24px;
  }
  .imp-line a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .work-hr {
    transform: translate(-213px, 10px);
  }
  .team-des-container {
    transform: translateX(88px);
    width: 115% !important;
  }
  .team-des-container div {
    transform: translateX(-46px);
  }
  .team-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-30px);
  }
  #footer-form {
    width: 100%;
  }
  .copywrite {
    transform: translateX(51px);
  }
  .special-team,
  .links-footer h4 {
    white-space: nowrap;
  }

  .preload .text {
    white-space: nowrap;
    font-size: 33px;
    width: 105% !important;
  }

  .modal-content input {
    width: 100%;
    padding: 10px 10px;
  }
  .modal-content h2 {
    margin-top: 50px;
  }
}
