@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    --text-color: #000;
    --main-color: hsl(25, 83%, 53%); 
    ---light--main-color: hsl(25, 94%, 73%);
    --nav-color: hsl(210, 6%, 66%);
    --bg-color: #fff;
    --light--text-color: #9198a2;
    --input-text: #8c9aaf;
    --input-shadow: hsla(208, 92%, 54%, 0.169);
}

.dark {
    --bg-color: hsl(208, 30%, 16.5%);
    --nav-color: hsl(210, 6%, 66%);
    --light--text-color: hsl(208, 12%, 46%);
    --input-text: hsl(208, 10%, 55%);
    --input-shadow: hsla(208, 92%, 58%, 0.2);
    --text-color: #fff;
}
.dark .contact__input:hover {
    background-color: hsla(208, 22%, 50%, 18.5%);
}
.dark .contact__input {
    background-color: hsla(208, 22%, 50%, 11%);;
}
.dark #dashed-wave {
    opacity: 0.3;
}
.dark .image__wrapper .img {
    transform: translate(-50%, -50%) scale(1.7);
}
.dark .wave__wrap svg {
    transform: translateY(-50%) scaleX(0);
}
.dark .wave__wrap {
    transform: scale(1.5);
    filter: blur(55px);
}

.transition {
    transition: 1s cubic-bezier(0.4, 0.1, 0.4, 1) !important;
}


a {
    text-decoration: none;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(208, 30%, 16.5%, 80%);
    z-index: 2;
    opacity: 0;
}
.dark .background {
    opacity: 1;
}


/* ---------------------------------Nav-Bar---------------------------------- */


header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 4;
    /* background-color: red; */
}
.container {
    max-width: 108rem;
    padding: 0 1rem;
    margin: 0 auto;
    margin-left: 3rem;
    display: flex;
    align-items: flex-end;
    height: 62px;
    /* background-color: red; */
}
header ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}
.logo h2 {
    color: var(--text-color);
    font-size: 1.55rem;
    margin-top: 2px;
}
.logo h2 span {
    color: var(--main-color);
}
.nav__link {
    margin-left: 5.5rem;
    padding: 0 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--nav-color);
    transition: 0.3s;
}
.nav__link:hover {
    color: var(--main-color);
}
.nav__link.theme-toggle {
    cursor: pointer;
}
.theme-toggle .moon {
    display: none;
}
.dark .theme-toggle .moon {
    display: inline;
}
.theme-toggle .sun {
    display: inline;
}
.dark .theme-toggle .sun {
    display: none;
}


/* ---------------------------------Contact-page---------------------------------- */

.contact-page {
    width: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
    /* background-color: red; */
}
.contact-page .container {
    height: 100vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* background-color: red; */
}
.contact-page .container > div {
    grid-row: 1/2;
    grid-column: 1/2;
}
.left {
    width: 100%;
    height: 100%;
    max-width: 80rem;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    padding: 65px 1.5rem 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: khaki; */
}

.contact__heading h1 {
    font-weight: 600;
    color: var(--text-color);
    font-size: 3.5rem;
    line-height: 0.9;
    white-space: nowrap;
    margin-bottom: 1.2rem;
}
.contact__heading h1 span {
    color: var(--main-color);
}

.text {
    color: var(--light--text-color);
    line-height: 1.1;
    font-size: 1rem;
}
.text a {
    color: var(--main-color);
    transition: 0.3s;
}


.contact__form {
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}
.input__wrap.w-100 {
    grid-column: span 2;
}
.input__wrap {
    position: relative;
}
.contact__input {
    width: 100%;
    background-color: hsla(208, 50%, 50%, 6.5%);
    /* background-color: red; */
    border: none;
    outline: none;
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    font-family: inherit;
    font-weight: 600;
    border-radius: 20px;
    color: var(--text-color);
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px var(--input-shadow);
    transition: 0.3s;
}
.contact__input:hover {
    background-color: hsla(208, 57%, 35%, 0.14);
}
.input__wrap label {
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--light--text-color);
    pointer-events: none;
    transition: 0.3s;
}
.input__wrap .icon {
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--input-text);
    font-size: 1.25rem;
}
textarea.contact__input {
    resize: none;
    width: 100%;
    min-height: 150px;
}
textarea.contact__input ~ label {
    top: 1.2rem;
    transform: none;
}
textarea.contact__input ~ .icon {
    top: 1.3rem;
    transform: none;
}

.form__wrapper {
    max-width: 32rem;
}

.input__wrap.focus .contact__input {
    background-color: var(--bg-color);
    border: 2px solid var(---light--main-color);
    box-shadow: 0 0 0 5px hsla(208, 91%, 55%, 0.11);
}
.input__wrap.focus label {
    color: var(---light--main-color);
}
.input__wrap.focus .icon {
    color: var(---light--main-color);
}

.input__wrap.not-empty label {
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
}


.contact__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    column-gap: 1rem;
    width: 100%;
    grid-column: span 2;
}
.btn {
    display: inline-block;
    padding: 1.1rem 2rem;
    background-color: hsl(228, 68%, 59%);
    color: #fff;
    border-radius: 40px;
    border: none;
    font-weight: 500;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    background-color: hsl(228, 54%, 48%);
}
.btn.upload  {
    position: relative;
    background-color: #e0e0e0;
}
.btn.upload:hover {
    background-color: #c5c5c5;
}
.btn.upload span {
    color: var(--light--text-color);
}
.btn .upload input {
    display: none;
}
.btn.upload input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: red;
    cursor: pointer;
    opacity: 0;
}


.right {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    pointer-events: none;
}
.image__wrapper {
    position: relative;
    grid-column: 2;
    /* background-color: green; */
}
.image__wrapper .img {
    position: absolute;
    height: 130%;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.wave__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    filter: blur(0px);
    background: var(--bg-color);
}
.wave__wrap svg {
    position: absolute;
    /* background-color: red; */
    height: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    left: calc(100% - 2px);
}
#wave {
    fill: var(--bg-color);
    height: 100%;
}
.dashed__wave {
    position: absolute;
    z-index: 3;
    /* background-color: red; */
    height: 130%;
    bottom: 60%;
    left: -28px;
    transform: translateY(50%);
}
#dashed-wave {
    fill: none;
    stroke: var(--nav-color);
    stroke-width: 1px;
    stroke-dasharray: 6.5;
    opacity: 0.8;
}


/* ---------------------------------Breakpoints-------------------------------- */

@media (max-width: 1000px) {
    .logo {
        margin-right: 1rem;
    }
    .logo h2 {
        font-size: 1.3rem;
    }
    .nav__link {
        margin-left: 3.5rem;
        padding: 0 0.8rem;
        font-size: 0.9rem;
    }
    .nav__link.theme-toggle {
        font-size: 1rem;
    }

    .contact__heading h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        white-space: normal;
    }
    .text {
        font-size: 0.9rem;
    }

    .contact__form {
        display: grid;
        margin-top: 1.9rem;
        column-gap: 0.8rem;
        row-gap: 0.65rem;
    }
    .contact__input {
        border-radius: 17px;
        font-size: 0.87rem;
        padding: 1.5rem 1.2rem calc(0.75rem - 2px) 1.2rem;
    }
    .input__wrap label{
        font-size: 0.91rem;
        left: calc(1.2rem + 2px);
    }
    .input__wrap .icon{
        font-size: 1.1rem;
        right: calc(1.2rem + 2px);
    }
    textarea.contact__input ~ label {
        top: 1.2rem;
    }
    textarea.contact__input ~ .icon {
        top: 1.33rem;
    }

    .input__wrap.focus .contact__input {
        box-shadow: 0 0 0 3.5px var(--input-shadow);
    }
    .input__wrap.not-empty label {
        font-size: 0.61rem;
    }

    .contact__buttons {
        column-gap: 0.8rem;
        margin-top: 0.45rem;
    }
    .btn {
        padding: 1rem 1.5rem;
        font-size: 0.87rem;
    }

    .dashed__wave {
        bottom: 55%;
        left: -10px;
    }
    #dashed-wave {
        stroke-width: 0.7px;
        stroke-dasharray: 6;
    }
    .wave__wrap {
        transform: translateX(-10%);
    }
    .wave__wrap svg {
        height: calc(110% + 10px);
        transform: translate(-5%, -50%);
    }
}

@media (max-width: 650px) {
    header .container {
        height: 50px;
    }
    .left {
        padding: 50px 1.5rem 0;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .form__wrapper {
        width: 100%;
        padding: 1rem 0;
    }
    header ul {
        justify-content: space-between;
        width: 100%;
    }

    .logo {
        margin-right: 0;
    }
    .nav__link {
        margin-left: 0;
    }
    
    .right {
        display: none;
    }
}

@media (max-width: 440px) {
    .input__wrap {
        grid-column: span 2;
    }

    .contact__buttons {
        grid-template-columns: 1fr;
        row-gap: 0.5rem;
    }

    .contact__heading h1 {
        font-size: 1.9rem;
        line-height: 1;
    }

    .logo h2  {
        font-size: 1.15rem;
    }
}